{% extends 'base.html.twig' %}

{% block body %}

<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="img/coffeshop1.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Notre Histoire ..</h6>
                    <h1 class="mb-4">Bienvenue à <span class="text-primary">Gusto Coffee</span></h1>
                    <p class="mb-4">Gusto-Coffee est né d’une passion commune autours du café de M. Philippe Landemaine et M. Alain Bellucci, associés depuis 1999 et spécialisés dans la vente de produits divers autours du café.

                    Fort de son savoir-faire en matière de café, Gusto-Coffee lance son 1er coffee-shop coworking en Angleterre en 2000 et en Italie en 2002.

                    Dès ces débuts, l’enseigne choisit d’être une entreprise différente qui non seulement célébrait le café et sa riche tradition mais aussi favorisait les rapports humains.

                    Lors d’un voyage d’affaires aux Etats-Unis en 2004, Philippe Landemaine est bloqué entre deux escales et se voit travailler dans un espace coworking Américains.
                    C’est à ce moment-là que l’idée d’innover et d’ajouter le concept de coworking aux coffee-shops Anglais et Italiens s’est précisée.
                    Dès son retour, il expose son projet à Alain Bellucci qui tombe sous le charme de l’idée.
                    Gusto-Coffee devient alors un espace coworking en septembre 2006 en Angleterre et en mars 2009.
                    
                    </p>

                    <p class="mb-4">
                        C’est en 2015 que le coffee-shop coworking pose ses valises en France, à Paris gare du Nord au 28 rue Ambroise Paré près des grandes gares parisiennes pour permettre aux voyageurs de travailler entre deux trains, aux parisiens de se détendre entre deux rendez-vous ou encore aux salariés de chercher la fabuleuse idée en changeant de décors.
                        Le coworking permettra donc à chacun de venir travailler au calme dans des salles accessibles et équipées.

                        Venez travailler comme chez vous et profiter d’offres et d’un buffet à volonté avec des aliments préparés à la perfection. L’ensemble de nos boissons chaudes sont également servit à volonté et vous permettrons de déguster des cafés d’exception tout en avançant sur vos projets.

                        Soucieux d’en faire toujours plus, nous avons décidé de mettre en place des partenariats avec les enseignes les plus réputées afin de vous offrir en exclusivités des prestations de qualité et vous faire gagner du temps étant donnée la proximité avec votre coworking.

                        Notre mission sera accompli dès lors que vous vous sentirez comme à la maison pour travailler dans un endroit harmonieux à prix petits et avantages multiples !
                    </p>
                    {# <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> #}
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


{% endblock  %}
