{% extends 'base.html.twig' %}

{% block body %}

    <!-- Destination Start -->
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Salles</h6>
                <h1 class="mb-5">Nos Salons Privés et Places Individuelles</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="{{ path ('reservation') }}">
                                <img class="img-fluid" src="img/salon_principal.jpg" alt="">
                            </>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="{{ path ('reservation') }}">
                                <img class="img-fluid" src="img/salon_prive_4_places_open_space.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="{{ path ('reservation') }}">
                                <img class="img-fluid" src="img/salon_prive_6_p_moderne.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="{{ path ('reservation') }}">
                        <img class="img-fluid position-absolute w-100 h-100" src="img/salon_prive_4_places_conference.jpg" alt="" style="object-fit: cover;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination Start -->



    <!-- Package Start -->
<div class="container-xxl py-5">
    <div class="container">

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Packages</h6>
            <h1 class="mb-5">Nos Packages</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/co-working1.jpg" alt="Coworking Space 1">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-home text-primary me-2"></i>Goodies</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-coffee text-primary me-2"></i>3 Cafés</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">+ 9,00 €</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Le forfait découverte qui pour 9€ de plus vous donne accès aux 3 cafés du jours à la demande et de la viennoiserie ou douceurs sucrée à la demande</p>
                    </div>
                </div>
            </div>


        </div>
          
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/co-working1.jpg" alt="Coworking Space 1">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-home text-primary me-2"></i>Goodies</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-coffee text-primary me-2"></i>Autres</small>
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-0">+ 18,00 €</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                        <p>Le forfait Barista qui pour 18€ de plus vous donne accès aux toute la collection de cafés de Gusto Coffee à la demande et de la viennoiserie ou douceurs sucrée à la demande</p>
                    </div>
                </div>
           </div>     
        </div>            

    </div>
</div>

    <!-- Package End -->


    <!-- Process Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3"></h6>
                <h1 class="mb-5">3 Easy Steps</h1>
            </div>
            <div class="row gy-5 gx-4 justify-content-center">
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-globe fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Salles de Réunions</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Notre service de salles de coworking est conçu pour répondre aux besoins des professionnels modernes à la recherche d'un environnement de travail collaboratif et inspirant.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-coffee fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Dégustez du café de qualité</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Nous offrons à nos clients une vaste collection de cafés soigneusement sélectionnés, afin de leur faire découvrir des saveurs riches et uniques. Que vous choisissiez notre café du jour ou que vous optiez pour notre forfait barista, nous nous assurons que chaque expérience café soit mémorable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative border border-primary pt-5 pb-4 px-4">
                        <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                            <i class="fa fa-plane fa-3x text-white"></i>
                        </div>
                        <h5 class="mt-4">Voyagez autrement</h5>
                        <hr class="w-25 mx-auto bg-primary mb-1">
                        <hr class="w-50 mx-auto bg-primary mt-0">
                        <p class="mb-0">Avec notre attention aux détails et notre passion inébranlable pour le café, nous nous efforçons de vous offrir une expérience de vente de produits de café exceptionnelle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Start -->

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    {% block js %}{% endblock %}   
{% endblock %}
