{% extends 'base.html.twig' %}

{% block body %}


<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-6 text-white">
                    <div class="col-md-6 text-white">
                        <h1 class="text-white mb-4">RESERVATION</h1>
                        <p class="mb-4">Réservez dès maintenant votre espace de travail collaboratif au concept innovant de Gusto Coffee. </p>
                        <p class="mb-4">Profitez d'un environnement stimulant, alliant café de qualité et espaces de travail modernes, pour booster votre productivité. Ne manquez pas cette occasion unique de vivre l'expérience Gusto Coffee !</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Réserver votre salle</h1>
                    <form action="{{ path('process_reservation') }}" method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="first-name" name="firstname" placeholder="First Name" required>
                                    <label for="first-name">Prénom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="last-name" name="lastname" placeholder="Last Name" required>
                                    <label for="last-name">Nom</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker" id="datetime" name="booking_date" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" required />
                                    <label for="datetime">Date & Heure</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="salon-type" name="type_salle" required>
                                        <option value="place">Place Individuelle</option>
                                        <option value="salon">Salon</option>
                                    </select>
                                    <label for="salon-type">Type de Salon</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="booking-quantity" name="nombre_salle" placeholder="Booking Quantity" min="1" max="120" required>
                                    <label for="booking-quantity">Nombre de Places à réserver </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="package-type" name="forfait">
                                        <option value="">None</option>
                                        <option value="barista">Barista Package</option>
                                        <option value="decouverte">Découverte Package</option>
                                    </select>
                                    <label for="package-type">Forfait</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn-booking w-100 py-3" type="submit">Réserver</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
