{% extends 'base.html.twig' %}

{% block body %}


  <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                <h1 class="mb-5">Nos Services</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-coffee text-primary mb-4"></i>
                            <h5>Bureautiques</h5>
                            <p>Projetez vos idées sur le vidéo-projecteur</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-desktop text-primary mb-4"></i>
                            <h5>Visioconférence</h5>
                            <p>Personne ne sera à l’écart avec la visio-conférence</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Prêts et ventes de clés USB pour faciliter vos transferts</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-desktop text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Personne ne sera à l’écart avec la visio-conférence</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-print text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Imprimez, scannez, photocopiez</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Assemblez vos idées sur un PaperBord</p>
                        </div>
                    </div>
                </div>
                
                                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-file-text text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Profitez d’un stockage et d’un partage de documents</p>
                        </div>
                    </div>
                </div>
                                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-wifi text-primary mb-4"></i>
                            <h5>Solutions informatiques</h5>
                            <p>Surfez grâce au Wifi de qualité (fibre optique)</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Service End -->


{% endblock  %}

