{% extends 'base.html.twig' %}

{% block title %}Oui!{% endblock %}


{% block body %}
    <h2>Confirmation de réservation</h2>
    <p>Merci pour votre réservation. Un email de confirmation vous a été envoyé.</p>
{% endblock %}



