{% if not app.request.cookies.get('cookies_accepted') %}
    <div id="cookie-banner" style="position:fixed; bottom:0; left:0; right:0; background-color:#eee; padding:10px; text-align:center; z-index:1000;">
        Les cookies sont les ingrédients secrets de réservation de coworking parfaite.
        <button id="accept-cookies" style="margin-left:15px; padding:5px 10px;">Accepter</button>
        <button id="decline-cookies" style="margin-left:15px; padding:5px 10px;">Refuser</button>
    </div>
{% endif %}


    <script>
        document.getElementById('accept-cookies').addEventListener('click', function() {
            document.getElementById('cookie-banner').style.display = 'none';
            document.cookie = "cookies_accepted=true; path=/; max-age=31536000"; // Cookie Valide 1 an
        });

        document.getElementById('decline-cookies').addEventListener('click', function() {
            document.getElementById('cookie-banner').style.display = 'none';
            document.cookie = "cookies_accepted=false; path=/; max-age=31536000"; // Cookie Valide 1 an
        });
    </script>

</body>
</html>
