{% extends 'base.html.twig' %}

{% block title %}Ma Page Utilisateur{% endblock %}

{% block body %}
 <div class="container mt-5">

        <h1 class="mt-4 mb-4">Bienvenue {{ user.firstname }} {{ user.lastname }}</h1>

        <ul class="list-group">
            <li class="list-group-item">
                <a href="" class="text-decoration-none">Gérer mes réservations</a>
            </li>
            <li class="list-group-item">
                <a href="" class="text-decoration-none">Changer mon mot de passe</a>
            </li>
                <li class="list-group-item">
                <a href="" class="text-decoration-none">Supprimer mon compte</a>
            </li>

            <li class="list-group-item">
                <a href="{{ path('app_logout') }}" class="text-decoration-none">Se déconnecter</a>
            </li>
        </ul>
        
</div>
{% endblock %}
